USER_POOL_ID='us-east-1_hjhgfhgfhZc'
FRONTEND_BASEURL='http://localhost:3000'
CDK_DEFAULT_REGION='us-east-1'
CDK_DEFAULT_ACCOUNT='34353545354354'
CDK_DEFAULT_VPC_ID='vpc-0f8cb3y7868798ee'
DB_NAME="projects"
DYNAMODB_TABLE_NAME="connections"
SOCKET_API_URL=""
DB_USERNAME="postgres"
DB_PASSWORD="vy.QjZJdC9Epf4"
RDS_ENDPOINT="projectrdsstack-projectrdsstackrds9e53bd9a-ftfdfgf5465.cmvuku8gqciw.us-east-1.rds.amazonaws.com"